/* 
/* ### BLOG ###
*/

.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 40px;
}

.blog a {
    text-decoration: none;
}

.blog h3 {
    color: #003265;
    line-height: 30px;
}

.blog p {
    line-height: 20px;
}

.blog-post {
    padding: 20px;
    background: #fffa;
}

.blog-img {
    width: 100%;
}

.blog-img img {
    max-width: 100%;
    max-height: 260px;
    object-fit: cover;
}

.blog-img iframe {
    max-width: 100%;
    max-height: 260px;
}

.blog-cat {
    display: flex;
    position: relative;
}

.blog-cat p {
    background: #009C75;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.blog-cat:after {
    content: '';
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    bottom: 0;
}