/* 
/* ### CONTATO ###
*/

.contato-line {
    display: flex;
    flex-direction: column;
}

.contato-row {
    display: flex;
}


/* Style the container/contact section */

.contato-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 40px;
}


/* Create two columns that float next to eachother */

.contato-column {
    width: 50%;
}

.contato-column img {
    object-fit: cover;
    width: auto;
    max-width: 100%;
}

.contato-column--img {
    padding: 0px;
    display: flex;
    align-items: center;
}

.contato-column--form {
    padding: 20px;
    max-width: 90%;
}

.contato-column--form form {
    display: flex;
    flex-direction: column;
}

.pp-new-public-form-embedded {
    background: #f4f4f4 !important;
    padding: 0px !important;
}


/* Clear floats after the columns */

.contato-row:after {
    content: "";
    display: table;
    clear: both;
}

* Style inputs */ input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contato input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contato input[type=submit]:hover {
    background-color: #45a049;
}

@media screen and (max-width: 1024px) {
    .contato-row {
        flex-direction: column;
        align-items: center;
    }
    .contato-column {
        width: 100%;
    }
    .contato-column--form {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .contato iframe {
        width: 95% !important;
    }
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .contato-column,
    .contato input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}