.sobre {
    padding-top: 150px;
    justify-content: flex-start;
    padding-bottom: 300px;
}

.sobre h1 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    color: #4E709470;
    text-transform: uppercase;
}

.sobre-skills p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.6px;
    color: #003265;
}

.sobre-wrap {
    flex-direction: column;
    padding: 20px;
}

.sobre-line {
    display: grid !important;
    max-width: 1600px !important;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 40px;
    justify-content: center;
}

.sobre-column--texto {
    padding: 20px;
    max-width: 100%;
}

.sobre-column--img {
    padding: 20px;
    max-width: 100%;
}


/* 1024px */

@media (max-width: 1024px) {
    .sobre-line {
        display: flex !important;
        flex-direction: column-reverse;
    }
    .sobre h1 {
        padding-bottom: 0px;
    }
}