body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #003265;
    ;
}

h2 {
    font-size: 35px;
    color: #4E7094;
}


/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.header-wrap {
    max-width: 1600px;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    width: 100%;
    z-index: 3;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
}

.header-line {
    max-width: 1200px;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .header-menu-btn:hover {
    background-color: #f4f4f4;
}

.header .header-logo {
    display: flex;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    max-width: 100px;
}

.header .header-logo img {
    max-width: 80%;
    width: auto;
    margin-right: 30px;
}


/* menu */

.header .header-menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* menu icon */

.header .header-menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    user-select: none;
    right: 0;
    position: absolute;
}

.header .header-menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .header-menu-icon .navicon:before,
.header .header-menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .header-menu-icon .navicon:before {
    top: 5px;
}

.header .header-menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .header-menu-btn {
    display: none;
}

.header .header-menu-btn:checked~.header-menu {
    max-height: 240px;
    top: 100px;
    position: absolute;
    right: 0;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon {
    background: transparent;
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .header-menu-btn:checked~.header-menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:before,
.header .header-menu-btn:checked~.header-menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .header-menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .header-menu-icon {
        display: none;
    }
}


/* 
/* ### SLIDER ###
*/

.slider {
    z-index: 9999;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.slider-wrap {
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.slider-line {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.slider-link {
    display: flex;
    justify-content: center;
}


/* 
/* ### CONTENT ###
*/

.content {
    z-index: 9999;
    display: flex;
    justify-content: center;
}

.content-wrap {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.content-line {
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.content-column {
    display: flex;
    width: auto;
}

.content-column--one {
    max-width: 80%;
}

.content-column--two {
    max-width: 20%;
    padding-left: 40px;
    flex-direction: column;
}


/* 48em = 768px */

@media (max-width: 48em) {
    .content-line {
        flex-direction: column;
    }
}


/* 
/* ### BLOG ###
*/

.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 40px;
}

.blog a {
    text-decoration: none;
}

.blog h3 {
    color: #003265;
    line-height: 30px;
}

.blog p {
    line-height: 20px;
}

.blog-post {
    padding: 20px;
    background: #fffa;
}

.blog-img {
    width: 100%;
}

.blog-img img {
    max-width: 100%;
    width: auto;
}

.blog-cat {
    display: flex;
    position: relative;
}

.blog-cat p {
    background: #009C75;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
}

.blog-cat:after {
    content: '';
    border-bottom: 1px solid gray;
    position: absolute;
    width: 100%;
    bottom: 0;
}